/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
 
#button_back {
    margin-left:4%; 
    padding-left:2%; 
    border-radius: 60px
}

.buttons_filters {
    border-radius: 40px;
}

.responsive-img {
    width: 32px;
    height: 32px;
}

.details {
    margin-bottom: unset !important;
}

.title-navbar {
    font-size: 1.5em;
}

span.badge.new:after{content:""}

.ng-select-container.ng-has-value {
    padding-top: 11px;
}