<div class="card hoverable"[routerLink]="tipoDeFormulario ? ['/editar', pedido.id] : ['/ver', pedido.id]">
    <div class="card-stacked">
        <div class="card-content">
            <div class="row">                    
                <div class="col">
                    <span class="card-title truncate">{{ pedido.usuario.name }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="new badge">{{ pedido.medio_pago.nombre }}</span>
                </div>
                <div class="col">
                    <span class="new badge green">{{ pedido.estado_pago.nombre }}</span>
                </div>
            </div>
            <div class="row details">   
                <div class="col xl1 l1 m1 s1">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="col">
                    <p>{{ pedido.norden }}</p>
                </div>
            </div>
            <div class="row details">
                <div class="col xl1 l1 m1 s1">
                    <i class="material-icons">store_mall_directory</i>
                </div>
                <div class="col">
                    <p class="truncate">{{ pedido.sucursal.nombre }}</p>
                </div>
            </div>
            <!-- .sucursal.nombre.sucursal.ubicacion  -->
            <div class="row details">
                <div class="col xl1 l1 m1 s1">
                    <i class="material-icons">local_shipping</i>
                </div>
                <div class="col">
                    <p class="truncate">{{ pedido.sucursal.direccion.direccion }}</p>
                </div>
            </div>
            <div class="row details">
                <div class="col xl1 l1 m1 s1">
                    <i class="material-icons">query_builder</i>
                </div>
                <div class="col">
                    <!-- horario.periodo -->
                    <!-- {{ pedido.fecha_venc}} - -->
                    <p> {{ pedido.fecha_entrega }}</p>
                </div>
            </div>
        </div>                      
    </div>
    <div class="card-action green darken-1">
        <h5 class="white-text">${{ pedido.total | separador }}</h5>
    </div>
</div>