<!--Lista de Productos -->
<div class="row mlr-2">
  	<div class="col s12 m9 container-block"> 
		<!-- Btn-Filtro y Btn-Add Product -->
    <div class="opciones-block">
      <div class="row">
        <div class="col m6 s12">
          <div *ngIf="disabledClass" class="row section-filter">
            <div class="col l3 m12" [style.display]="!showFiltro ? 'block' : 'none'">
              <a class="waves-effect waves-light btn buttons_filters green darken-1" 
                (click)="verFiltro()">
                <i class="large material-icons">search</i>
              </a>
            </div>
        
            <div class="col m8 s12 container-search" [style.display]="showFiltro ? 'block' : 'none'">
              <input type="text" name="norden" [(ngModel)]="valorFiltro">
              <i class="button large material-icons search-close" 
                (click)="CancelarFiltro()" 
                [style.display]="showFiltro ? 'block' : 'none'" >clear</i>
            </div>
          </div>
        </div>
        <div *ngIf="disabledClass" [hidden]="tipoDeFormulario" class="col m6 s12 left ">
          <div  class="" style="float: right;">
            <a title="Añadir producto" class="btn-floating btn-large green darken-1 waves-effect" 
              (click)="disabledClass = false">
              <i class="large material-icons">add</i>
            </a>
          </div>
        </div>
        <div *ngIf="!disabledClass" class="col m6 s12 left ">
          <div class="" style="float: right;">
            <button  title="Cancelar" (click)="disabledClass = true">
                <i class="material-icons prefix">clear</i>
            </button>  
          </div>
        </div>
      </div>
		</div> 

    <ul class="collapsible scene" [ngStyle]="{'height':disabledClass === false ? '400px': lengthListProducts * 105 +'px'}">
      <div class="card" [ngClass]="{'show-book-back':disabledClass === false}">      
        <!-- list products -->
        <div class="card__face card__face--front" [hidden]="!disabledClass">
          <li class="cart-item" 
              *ngFor="let product of listProducts 
              | filtro: valorFiltro: 'nombre'; 
              index as i">
            <div class="row">
              <div class="col s12">
                <div class="row grid-flex">

                  <div class="product-line-grind-img col m3 s3"  style="text-align: center;">
                    <span class="product-block-img">
                      <img class="responsive-img circle" 
                        [src]="(!product.nodoproducto.maestroproductos) 
                          ? urlMateriaProductos+product.nodoproducto.materiaproductos.imagen
                          : urlMaestroProductos+product.nodoproducto.maestroproductos.imagen"> 
                    </span>                  
                  </div>
                  <div class="product-line-grind-body col m3 s3">
                    <div class="product-info">
                      <span>
                            {{  product.nombre }} 
                      </span>
                    </div>
                    <div class="product-prices">
                      <span class="title">Precio: </span>
                      <span class="product-unit-price-inf">{{product.precio.precio | separador}} $</span>
                    </div>
                    <div class="product-talla">
                      <span class="title">Unidad de Compra: </span>
                      <span class="product-talla-inf">
                           {{
                                (!product.nodoproducto.maestroproductos) 
                                ? product.nodoproducto.materiaproductos.unidad_compra
                                : product.nodoproducto.maestroproductos.unidad_compra
                            }}
                      </span>
                    </div>
                  </div>
                  <div class="col offset-s-4 m4">
                    <div class="row">
                      <div class="col m10 s6">
                          <div class="row grid-flex">
                              <div class="col m8">
                                <div >
                                    <span  class="input-number-decrement" (click)="inputDecrement(i);">–</span>
                                    <input [attr.disabled]="tipoDeFormulario? true:null" 
                                            class="input-number" type="text"
                                            [(ngModel)]="product.cantidad"
                                            (change)="inputUpdateCantidad(i)"
                                            value="{{product.cantidad | number}}" min="0">
                                    <span  class="input-number-increment" (click)="inputIncrement(i);">+</span>
                                </div>                            
                              </div>
                              <div class="col m4">                        
                                  <span class="unit-prices strong">$ </span>
                                  <span class="pedido-prices strong" >{{ product.total | separador}} </span>
                              </div>
                            </div>  
                      </div>
                    </div>
                  </div>

                  <div class="col offset-s-1 m1">
                      <div class="row">
                        <div class="col m10 s6">
                            <div>
                              <button [attr.disabled]="tipoDeFormulario? true:null" (click)="deletedProduct(i)">
                                  <i class="material-icons prefix">delete</i>
                              </button>                              
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>        
          </li>  
        </div>

        <!-- new product -->
        <div class="card__back card__face--back">
					<form [formGroup]="newProduct" (ngSubmit)="addProduct()">
						<li class="cart-item new-product" [hidden]="disabledClass" >
							<div class="row">
								<div class="col s12">
									<div class="row">
                   <!--  + img  / img_productos/  -->                  										
										<div class="product-line-grind-img col m12 s12"  style="text-align: center;">
											<span class="product-block-img">
                        <img class="responsive-img circle" 
                          alt="imagen del producto"
                          [src]="(f2.avatar.value == '') 
                              ? 'http://d26lpennugtm8s.cloudfront.net/assets/stores/img/no-photo-320-0.png' 
                              : maestroProducto == false ? urlMateriaProductos + f2.avatar.value : urlMaestroProductos + f2.avatar.value"> 
											</span>                  
										</div>
										<div class="product-line-grind-body product-line-grind-body col offset-m2 offset-s1 m8 s10">  
											<div class="product-info">
												<div class="row">
													<div class="input-field col s12 m12 ">
                              <i class="material-icons prefix">shopping_cart</i>                                                                     
                              <ng-select                   
                                  id="clientes-pedido" 
                                  placeholder="Seleccionar un producto"
                                  formControlName="id"
                                  [dropdownPosition]="'bottom'"                                  
                                  (change)="onChangeProduct(f2.id)">
                                  >
                                <ng-option
                                  *ngFor="let producto of listProductos" [value]="producto.id"> 
                                  {{!producto.maestroproductos ? producto.materiaproductos.nombre : producto.maestroproductos.nombre}}
                                </ng-option>
                              </ng-select>

															<!-- <select id="clientes-pedido" formControlName="id" (change)="onChangeProduct(f2.id)">
                                <option value="" disabled selected>Escoger producto</option>
                                <option *ngFor="let producto of listProductos" value="{{producto.id}}"> {{!producto.maestroproductos ? producto.materiaproductos.nombre : producto.maestroproductos.nombre}}</option>	
															</select> -->
														<!-- <label>Producto</label> -->
														<div *ngIf="f2.id.errors && submitted2">
															<span *ngIf="f2.id.errors.required" class="helper-text red-text text-darken-1">Selecciona el Producto</span>
														</div>
													</div>        
												</div>                     
											</div>
											
											<div class="product-talla">
												<div class="row">
													<div class="input-field col s12 m12 ">
														<i class="material-icons prefix">local_mall</i>                
                            <input type="text" disabled formControlName="unidadCompra">
														<label [ngClass]="{ 'active' : f2.unidadCompra.value != ''  }">Unidad de compra</label>
													</div>        
												</div> 
											</div>
											
											<div class="product-prices">
												<div class="row">
													<div class="input-field col s12 m6 ">
														<i class="material-icons prefix">attach_money</i>
														<input type="text" disabled formControlName="precioUnidad">
														<label [ngClass]="{ 'active' : f2.precioUnidad.value != '' }">Precio unitario</label>
													</div>        
													<div class="col m6">
														<div class="cantidad-product flex-div-number" style="margin-top: 20px;">
                              <span>Cantidad: </span>
                              <div>
                                <span class="input-number-decrement" (click)="inputDecrementNewProduct()" >–</span>
                                  <input class="input-number" type="text" formControlName="cantidad" min="1">
                                <span class="input-number-increment" (click)="inputIncrementNewProduct()">+</span>
                              </div>												
														</div>
														<div *ngIf="f2.cantidad.errors && submitted2"> 
															<span *ngIf="f2.cantidad.errors.required" class="helper-text red-text text-darken-1">Elige una cantidad</span> 
															<span *ngIf="f2.cantidad.errors.minLenght" class="helper-text red-text text-darken-1"> La cantidad debe ser mayor a 0</span>
														</div>                                 
													</div>         
												</div>
											</div>  
										</div>
		
										<div class="col offset-m3 offset-s2 m8 s10">
											<div class="row" style="text-align: center;">								                      											
												<div class="col m12 s12">
														<div>
															<button title="Aceptar" class="btn-large green" style="width: 50%; margin-bottom: 20px;" >
																	Agregar
															</button>                              
														</div>
												</div>                          
											</div>
										</div>
									</div>
								</div>
							</div>        
						</li>  
					</form>
        </div>        
      </div>        
    </ul>   
  </div>

  <div class="col s12 m3">
      <div class="card info-pedido">
        <div class="card-content">
          <div class="row">
              <div class="col s6 m6">
                <div>Subtotal</div>
              </div>
              <div class="col  s6 m6">
                <div>$ {{subtotal | separador}}</div>
              </div>                
          </div>
          <div class="row">
              <div class="col s6 m6">
                <div>IVA ({{iva}}%)</div>
              </div>
              <div class="col  s6 m6">
                <div>$ {{totalIva | separador}}</div>
              </div>                
          </div>
          <hr>
          <div class="row">
              <div class="col s6 m6">
                <div><b>Total</b></div>
              </div>
              <div class="col  s6 m6">
                <div>
                  <b>$ {{totalPedido | separador}}</b>
                </div>
              </div>                
          </div>
          </div>
        <div [hidden]="tipoDeFormulario" class="card-crear-pedido card-content mt-2">
            <div class="row" *ngIf="creditoSobrante.data > 0">
              <div class="col s6 m6">
                <div><b>Creditos restantes:</b></div>
              </div>
              <div class="col s6 m6" [ngStyle]="{'color':creditoSobrante.type == -1 ? 'red': 'green'}">
                <div>
                  <span>{{creditoSobrante.type == -1 ? '- ': '+ '}} </span>
                  $ {{creditoSobrante.data | separador}}
                </div>
              </div>  
            </div>
            <div class="row">             
              <div class="col s6 m6">
                <div><b>Creditos disponibles</b></div>
              </div>
              <div class="col  s6 m6">
                <div >$ {{ creditos | separador}}</div>
              </div>
            </div>
            <div class="">
              <div class="">
                <div class="m12">
                  <button (click)="enviar()" class="btn green darken-1" style="width: 100%;">Enviar pedido</button>
                </div>
              </div>
            </div>
          </div>
      </div>            
  </div>
</div>
