.col.s12.m9.container-block{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

//General styles
.mt-2{
margin-top: 15px;  
}
.mlr-2{
  margin-left: 15px;  
  margin-right: 15px;
}
.new.badge.num-pedido{
    position: absolute;
    top: 5px;
    left: 0px;
    height: 25px;
}
.container-block{
  position: relative;
  background: white;
  padding: 30px !important;      
}

.cart-item{
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    .row{
        margin-bottom: 0px !important;
    }        
}
.responsive-img.circle{
    width: 70px; 
    height: 70px;     
    margin-right: 40px;
}
.collapsible-header.product{
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
.strong{
    font-weight: bold;
}

.card.info-pedido{
  margin: 0 !important;
}

// Elementos 3D
.scene {
  width: 100%;
  border: 1px solid #CCC;
  perspective: 600px;

  .card {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: default;
    position: relative;

    .card__face {
      position: absolute;
      width: 100%;
      backface-visibility: hidden;
    }
    
    .card__back {
      position: absolute;
      width: 100%;
      height: 400px;
      backface-visibility: hidden;
    }
    
    .card__face--front {
      background: white;
    }
    
    .card__face--back {
      background:white;
      transform: rotateY(180deg);
    }
    .grid-flex{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.show-book-back{
  transform: rotateY(180deg);
}
// Input-number element
.input-number{    
  width: 40px !important;
  height: 38px !important;
  padding: 0 12px !important;
  vertical-align: top;
  text-align: center;
  outline: none;
  border-top: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
}
.input-number,
.input-number-decrement,
.input-number-increment{
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}
.input-number-decrement,
.input-number-increment{
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  :active{
    background: #ddd;
  }
}
.input-number-decrement{
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.input-number-increment{
  border-left: none;
  border-radius: 0 4px 4px 0;
}
// Search Element
.container-search{
  position: relative;
  .search-close{
    display: block;
    position: absolute;
    font-size: 30px;
    right: 5px;
    top: 12px;
  }
}
// Botones transparentes
button, .button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.msg {
  width:100%;
  border: 1px solid;
  padding:10px;
  margin: 0px;
  color: grey;
}
.msg-error {
  border-color: #ef5350;
  background-color: #ef5350;
  color: white;
}

.flex-div-number{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ng-select#clientes-pedido{
  margin-left: 3rem;
}