.alert.create-pedido{
    margin-top: 40px;
    float: left;
    font-weight: bold;
    letter-spacing: 2px;
}
.new.badge.num-pedido{
    margin-top: 40px; 
}


i.material-icons.prefix.person{
z-index: 999999;
}
ng-select#select-bus{
    margin-left: 30px !important;
}
// ng-dropdown-panel{
//     margin-left: 30px !important;
//     width: 98.1%;   
// }