<app-nav-bar 
    [titulo]="tipoDeFormulario ?'Ver pedido' : !edit ? 'Crear pedido' : 'Editar pedido'" 
    [colocarBotonEnviar]="tipoDeFormulario ? false : true"
    (enviarFormulario)="SavePedido()"></app-nav-bar>
<!-- Form pedido -->

<div>
  <!-- Formulario -->
  <div class="row mt-2 mlr-2">
    <form class="col s12 m12 container-block" [formGroup]="datos_pedido">
      <div class="msg msg-error scale-transition" *ngIf="datos_pedido.valid && submitted && productosDelPedido.data.length <= 0">
         Debes registrar por lo menos un producto 
      </div>

      <span *ngIf="!edit" class="alert create-pedido"> Nota: Recuerde seleccionar un cliente para comenzar el proceso de creacion.</span>
      <span *ngIf="!edit" class="new badge num-pedido"> Nº de Pedido: {{norden =='' ? '' : norden}}</span>
      <div class="row">
        <div class="input-field col s12 m12 browser-default">
          <i class="material-icons prefix person">account_circle</i>

          <!-- <select id="clientes-pedido" formControlName="cliente" (change)="obtenerCampos(f.cliente)" *ngIf="!edit">
            <option value="" disabled>Elegir un cliente</option>
            <option *ngFor="let client of clientes.data" value="{{client.id}}">{{client.name}}</option>
          </select>  -->
            
          <ng-select *ngIf="!edit"                    
            id="select-bus"
            placeholder="Elegir un cliente"
            formControlName="cliente"
            [dropdownPosition]="'bottom'"
            (change)="obtenerCampos(f.cliente)"
            >
          <ng-option
          *ngFor="let client of clientes.data" [value]="client.id">{{client.name}}</ng-option>
          </ng-select>

          <input type="text" formControlName="cliente" readonly *ngIf="edit">

          <!-- <label [ngClass]="{ 'active' : f.cliente.value != ''}">Cliente</label> -->
          <div *ngIf="f.cliente.errors && submitted">
            <span *ngIf="f.cliente.errors.required" class="helper-text red-text text-darken-1">Selecciona el Cliente</span>
          </div>  
        </div>        
      </div> 

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">date_range</i>
          <input [attr.disabled]="tipoDeFormulario? true:null" type="text" id="fecha" formControlName="fechaEntrega" (change)="obtenerFechaEntrega($event)" class="datepicker">
          
          <label [ngClass]="{ 'active' : f.fechaEntrega.value != ''  }">Fecha de Entrega</label>

          <div *ngIf="f.fechaEntrega.errors && submitted">
              <span *ngIf="f.fechaEntrega.errors.required" class="helper-text red-text text-darken-1">Selecciona la Fecha de Entrega</span>
          </div>
                    
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">access_time</i>

          <select [attr.disabled]="tipoDeFormulario? true:null" id="horarios-pedido" formControlName="horario">
            <option value="" disabled selected>Elegir su horario</option>
            <option *ngFor="let horario of horarios" value="{{horario.id}}">{{horario.inicio.date | date: "HH:mm"}} - {{horario.fin.date | date: "HH:mm"}} </option>
          </select>
          <label>Horario</label>       
          
          <div *ngIf="f.horario.errors && submitted">
            <span *ngIf="f.horario.errors.required" class="helper-text red-text text-darken-1">Selecciona el Horario</span>
          </div> 
        </div>
      </div>   
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">business</i>
            <select  [attr.disabled]="tipoDeFormulario? true:null" id="sucursales-pedido" formControlName="sucursal" (change)="obtenerDireccion(f.sucursal)">
              <option value="" disabled selected>Elegir sucursal</option>					
              <option *ngFor="let sucursal of sucursales"  value="{{sucursal.id}}">{{sucursal.nombre}}</option>          
            </select>
            <label>Sucursal</label>
            <div *ngIf="f.sucursal.errors && submitted">
              <span *ngIf="f.sucursal.errors.required" class="helper-text red-text text-darken-1">Selecciona la Sucursal</span>
            </div>
          </div>
        </div>               
        
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input [attr.disabled]="tipoDeFormulario? true:null" type="text" id="direcciones-pedido" formControlName="direccion" readonly>    
            <label [ngClass]="{ 'active' : f.direccion.value != ''  }">Direccion</label>       			
          </div>
        </div>               
      
    </form>
  </div>
  
  <!-- Componentes -->
  <div *ngIf="idCliente != -1">
    <app-gestion-productos [(productosDelPedido)]="productosDelPedido" 
      [(idCliente)]="idCliente" 
      [(tipoDeFormulario)]="tipoDeFormulario"
      (enviarFormulario)="SavePedido()"
      [(creditos)] ="creditos"
      [(creditoSobrante)]="creditoSobrante"
      >
    </app-gestion-productos>
    <!-- <app-comentarios></app-comentarios> -->
  </div>
</div>
