.buttons_filters {
    border-radius: 40px;
    width: 100px;
}

.title-filter {
    padding-top: 2%;
    font-size: 0.8em;
    margin-bottom: 1%;
    margin-left: 3%;
}

.section-filter {
    margin-left: 2%;
}

.filters {
    position: relative;
}

.filter {
    position: absolute;
    opacity: 0;
}

.indicadores{
    padding-top:3px;
    margin-bottom: unset;
}

.title-navbar {
    font-size: 1.5em;
}

.button {
    padding-left:2% !important;
    border-radius: 60px;
}

.button_back {
    margin-left:4%;
}

.button_send {
    margin-right:2%;
}