<!-- Navbar -->
<nav class="green darken-1">
    <div class="nav-wrapper">
        <a 
          (click)="salir()"
          class="brand-logo waves-effect left button button_back"
        >
          <i class="material-icons">arrow_back_ios</i>
        </a>
        <a class="brand-logo center title-navbar">Gestión pedidos</a>
    </div>
</nav>
<!-- Precarga spinner -->
<div *ngIf="!Globals.datosCargados " >
    <app-precarga></app-precarga>
</div>
<!-- Datos ya cargados -->
<div *ngIf="Globals.datosCargados " >
    <!-- Filtros de busqueda -->
    <div class="row title-filter">
        <span class="grey-text text-lighten-1">Buscar por: </span>
    </div>

    <div class="row section-filter">
        <div class="col l2 m12 filters">
            <a [@mostrarFiltro]="filtrarPorOrden ? 'ocultoIzquierdo' : 'presenteIzquierdo'" class="waves-effect waves-light btn buttons_filters green darken-1" (click)="verFiltroPorNorden()">Orden</a>
            <input class="filter" placeholder="Nro. orden" [@mostrarFiltro]="filtrarPorOrden ? 'presenteDerecho' : 'ocultoDerecho'" type="text" name="norden" [(ngModel)]="valorFiltroOrden" (input)="filtrarPedidos()">
        </div>
    </div>

    <div class="row section-filter">
        <div class="col l2 m12 filters">
            <a [@mostrarFiltro]="filtrarPorCliente ? 'ocultoIzquierdo' : 'presenteIzquierdo'" class="waves-effect waves-light btn buttons_filters green darken-1" (click)="verFiltroPorCliente()">Cliente</a>
            <input class="filter" placeholder="Cliente" [@mostrarFiltro]="filtrarPorCliente ? 'presenteDerecho' : 'ocultoDerecho'" type="text" name="name" [(ngModel)]="valorFiltroCliente" (input)="filtrarPedidos()">
        </div>
    </div>

    <div class="row section-filter">    
        <div class="col l2 m12 filters">
            <a [@mostrarFiltro]="filtrarPorFecha ? 'ocultoIzquierdo' : 'presenteIzquierdo'" class="waves-effect waves-light btn buttons_filters green darken-1" (click)="verFiltroPorFecha()">Fecha</a>
            <input  type="date" id="datepicker" class="filter datepicker" placeholder="Fecha de entrega" [@mostrarFiltro]="filtrarPorFecha ? 'presenteDerecho' : 'ocultoDerecho'" name="fecha_entrega" [(ngModel)]="valorFiltroFecha" (change)="filtrarPedidosfecha()">
        </div>
    </div>

    <div>
        <div class="row indicadores">
            <app-resumen-dia *ngIf="cantidadDePedidos != 0" 
                [cantidadDePedidos]="cantidadDePedidos" 
                [mediaPorPedido]="mediaPorPedido" 
                [totalPedidos]="totalPedidos">
            </app-resumen-dia>
        </div>
    </div>
    <!-- Contenedor de pedidos -->
    <div class="row">
        <div class="col s12 m4 l4" *ngFor="let pedido of listadoDePedidosFiltrados">
            <app-carta-pedido [pedido]="pedido"></app-carta-pedido>
        </div>
        <div class="container">
            <div class="col xl4 l4 m4 s12 offset-xl4 offset-l4 center-align" *ngIf="cantidadDePedidos == 0">
                <i class="material-icons large grey-text text-lighten-1">error_outline</i>
            </div>
            <div class="col xl4 l4 m4 s12 offset-xl4 offset-l4 center-align" *ngIf="cantidadDePedidos == 0">
                <span class="grey-text text-lighten-1">Sin resultados</span>
            </div>
        </div>
    </div>

    <!-- visibility_off -->

    <!-- Float Button Add Modal -->
    <div class="fixed-action-btn">
        <a routerLink="/crear" routerLinkActive="router-link-active" class="btn-floating btn-large green darken-1 waves-effect">
            <i class="large material-icons">add</i>
        </a>
    </div>

</div>