<div class="col xl4 l4 m4 s12">
    <div class="row contenedor-resumenes">
        <div class="col xl2 l3 m6 s3">
            <i class="medium grey-text material-icons">local_grocery_store</i>
        </div>
        <div class="col">
            <div class="row contenedor-titulo">
                <span class="grey-text">TOTAL DE VENTAS</span>
            </div>
            <div class="row">
                <h4 class="resumenes grey-text">{{cantidadDePedidos | separador }}</h4>
            </div>
        </div>
    </div>
</div>
<div class="col xl4 l4 m4 s12">    
    <div class="row contenedor-resumenes">
        <div class="col xl2 l3 m6 s3">
            <i class="medium grey-text material-icons">equalizer</i>
        </div>
        <div class="col">
            <div class="row contenedor-titulo">
                <span class="grey-text">MEDIO POR PEDIDO</span>
            </div>
            <div class="row">
                <h4 class="resumenes grey-text">${{mediaPorPedido | separador }}</h4>
            </div>
        </div>
    </div>
</div>
<div class="col xl4 l4 m4 s12">
    <div class="row contenedor-resumenes">
        <div class="col xl2 l3 m6 s3">
            <i class="medium grey-text material-icons">local_atm</i>
        </div>
        <div class="col">
            <div class="row contenedor-titulo">
                <span class="grey-text">IMPORTE BRUTO</span>
            </div>
            <div class="row">
                <h4 class="resumenes grey-text">${{totalPedidos | separador }}</h4>
            </div>
        </div>
    </div>    
</div>